.preview-container{
  text-align: center;
  padding: 20px;
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  margin: 20px;
}

.invoice-box{
  border: solid 2px #000;
  width: 100%;
  max-width: 770px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

:root {
  --text-color: #000;
  --bg-color: #fff;
  --highlight-color: #f0f0f0;
}

.blue-theme {
  --bg-color: #e6f0ff;
  --text-color: #003366;
  --highlight-color: rgba(0, 102, 204, 0.1);
}

.green-theme {
  --bg-color: #e6ffe6;
  --text-color: #004d00;
  --highlight-color: rgba(0, 153, 0, 0.1);
}

.black-theme {
  --bg-color: #1a1a1a;
  --text-color: #f2f2f2;
  --highlight-color: rgba(255, 255, 255, 0.05);
}

.white-theme {
  --bg-color: #ffffff;
  --text-color: #000000;
  --highlight-color: #f9f9f9;
}

.not-found {
  color: red;
  text-align: center;
  margin-top: 50px;
}

/* Apply variables */
.invoice-wrapper {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 1rem;
}

.logo-container{
max-width: 770px;
display: flex;
justify-content: flex-end;
width: 100%;
padding-bottom: 0px;
}

.logo{
height: 100px;
width: 100px;
align-self: flex-end;
margin-bottom: 0;
}

/* Responsive design for invoice preview */

@media screen and (max-width: 890px) {
.preview-container {
  padding: 10px;
  margin: 0px;
  height: auto;

}
.invoice-box {
  max-width: 100%;
}

.logo-container{
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0px;
  margin: 0;
}

.logo{
  height: 70px;
  width: 70px;
  align-self: flex-end;
  margin-bottom: 0;
}
}

@media screen and (max-width: 600px) {

body{
  padding: 0;
}
.preview-container {
  padding: 0;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  height: auto;
}
.invoice-box {
  max-width: 100%;
  border-width: 1px;
  margin-right: 4px;
}
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .preview-container {
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    width: 210mm;
    min-height: 297mm;
    box-shadow: none;
    overflow: hidden;
  }

  .invoice-box {
    max-width: 100%;
    box-shadow: none;
    padding: 0;
  }

  .invoice-table-container {
    overflow-x: visible;
  }

  /* Optional: Hide buttons, header, etc. */
  .no-print {
    display: none;
  }
}
